/* Estilos Generales */

hr{
    opacity: 1;
    margin: 0px;
    height: 15px !important;
    background: #ba5b02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.spacerMain{
    opacity: 0.5;
    margin-top: 1rem;
    height: 15px !important;
    background: #CE6605;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #18181810, #CE6605);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #18181810, #CE6605); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}