/* Estilo de Fuente */
.mainTitle{
    font-family: 'Big Shoulders Text', cursive, sans-serif; 
    font-weight: 600;
    font-size: 2.5rem;
    padding-top: 1rem;
    color: goldenrod;
}

.itemTitle{
    font-family: 'Big Shoulders Text', cursive, sans-serif; 
    font-weight: 600;
    font-size: 1.563rem;
    color: rgb(239, 127, 2);
}

p{
    font-family: 'Big Shoulders Text', cursive, sans-serif; 
    font-weight: 400;
    font-size: 1.25rem;
    color: mintcream;
}